.footer {
    height: 150px;
    background-color: #b88917;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0
}

.h3 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: lighter;
    font-family: 'Lobster', sans-serif;
}

.txt {
    margin-top: 10px;
    font-weight: lighter;
    font-family: 'Lobster', sans-serif;
    width: 100%;
    text-align: center;
}