.container {
    display: flex;
    width: 100%;

    border: 2px solid #b88917;
    padding: 0 20px;
    background-color: white;
}

.column {
    width: 50%;
}

.box {
    display: flex;
    
    width: 100%;
    margin: 15px 0
}

.txt {
    color: black;
    margin-left: 20px;
}