.box {
    z-index: 2;
    background-color: #b88917;
}

.span {
    color: #b88917;  
}

.h2 {
    z-index: 2;
    padding: 8px;
    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-weight: lighter;
    color: white;
    
}

.localisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: white;
}

.image {
    width: 100%;
    height: auto;
  }

.article, .intro {
    padding: 12px;
    color: rgb(0, 0, 0);
    font-family: 'Lobster', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    overflow: hidden;
}

.article {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('/image4.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    width: 100%; 
    height: 100vh; 
    color: #ffffff;
    font-weight: lighter;
   
}



.li {
    display: flex;
    margin-bottom: 30px;
}

.picture {
    width: 50%;
    height: auto;
    border-radius: 20px;
    border: 1px solid #b88917;
}

.picture2 {
    width: 50%;
    height: auto;
    position: relative;
    top: 10%;
    border: 1px solid #b88917;
    border-radius: 20px;
    
}

.p {
    width: 50%;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}